<!DOCTYPE html>
<html>

<head>
  <title>Multiple Choice Quiz</title>
</head>

<body>
  <h1>Multiple Choice Quiz</h1>
  <form id="quiz" method="POST" action="/answer">
    <div class="question">
      <h2>{{question}}</h2>
      <input type="radio" name="question1" value="1" id="q1a" /><label for="q1a">{{option1}}</label><br />
      <input type="radio" name="question1" value="2" id="q1b" /><label for="q1b">{{option2}}</label><br />
      <input type="radio" name="question1" value="3" id="q1c" /><label for="q1c">{{option3}}</label><br />
      <input type="radio" name="question1" value="4" id="q1d" /><label for="q1d">{{option4}}</label><br />
    </div>
    <!-- Add more questions as needed -->
    <br>
    <input type="submit" value="Submit Quiz" />
  </form>
</body>

</html>